/*
Colors used:
Primary Color (Black): #5C5959;
Secondary Color (Red): #E84F4F;
*/

body {
  background-color: #ffffff;
  font-family: 'Arimo', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #5C5959;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #E84F4F;
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
  color: #ff7f50;
}

a:hover,
a:focus {
  color: #E84F4F;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color: #994c30;
}

a {/* element selector */
  color: red;
}

#my-link {/* id selector */
  color: green;
}

.my-link {/* class selector */
  color: blue;
}

#button {/* id selector */
  color: green;
}

.button {/* class selector */
  color: blue;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ff7f50;
  color: #ffffff !important; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
