/*
Colors used:
Primary Color (Black): #5C5959;
Secondary Color (Red): #E84F4F;
*/
* {
  box-sizing: border-box;
  /*recommended to be in all files*/
}

body {
  background-color: #ffffff;
  font-family: 'Arimo', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #5C5959;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.2em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #E84F4F;
}

a:visited {
  /* visited link */
  color: #E84F4F;
}

a:hover,
a:focus {
  color: #B43939;
  text-decoration: none;
  /* No underlining when hovering over a link -- usually change the color or underline*/
}

a:active {
  /* selected link */
  color: #994c30;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #E84F4F;
  color: #ffffff !important;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  text-decoration: none;
  border-radius: 3px;
  border-bottom: 2px solid #E84F4F;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
}

/* Header */
header {
  position: fixed;
  padding: 15px 0px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(235, 235, 235, 1);
  -moz-box-shadow: 0px 5px 5px 0px rgba(235, 235, 235, 1);
  box-shadow: 0px 5px 5px 0px rgba(235, 235, 235, 1);
  width: 100%;
  background-color: #ffffff;
}

.logo {
  max-width: 250px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle li .icon {
  position: absolute;
  padding-right: 0;
  right: 0;
  top: 2px;
  font-size: 20px;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #fff;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

/*Layout Styling*/
.container {
  padding: 0px 15px;
}

#hero h1 {
  text-align: center;
  margin: 0;
  padding: 0.67em 0;
}

#hero {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

.row {
  margin: 25px 0px;
}

footer {
  text-align: center;
  padding: 25px 0px;
}

.social.media {
  display: inline-block;
  padding: 40px 5px 0px;
}

#aboutme h1 {
  text-align: center;
  margin: 0;
  padding: 0.67em 0;
}

#aboutme {
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 106px;
}

#work h2 {
  text-align: center;
}

width 100%, max-width 100%, height: auto

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
  float: left;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 60px);
  }

  to {
    transform: translate(200px, 60px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  main {
    padding-top: 100px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  #hero {
    text-align: center;
  }

  #hero span {
  display: block;
}

  body {
    font-size: 18px;
  }

  #icons img {
    height: 150px;
    width: auto;
  }

  #icons .col-md-3 {
    text-align: center;
  }

  #icons h2 {
    font-size: 1.7em;
  }

  .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 75%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 100%;}

  [class*="col-"] {
    float: left;
    padding: 15px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 20px;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

.col-lg-1 {width: 8.33%;}
.col-lg-2 {width: 16.66%;}
.col-lg-3 {width: 25%;}
.col-lg-4 {width: 33.33%;}
.col-lg-5 {width: 41.66%;}
.col-lg-6 {width: 50%;}
.col-lg-7 {width: 58.33%;}
.col-lg-8 {width: 66.66%;}
.col-lg-9 {width: 75%;}
.col-lg-10 {width: 83.33%;}
.col-lg-11 {width: 91.66%;}
.col-lg-12 {width: 100%;}

.col-md-1 {width: 8.33%;}
.col-md-2 {width: 16.66%;}
.col-md-3 {width: 25%;}
.col-md-4 {width: 33.33%;}
.col-md-5 {width: 41.66%;}
.col-md-6 {width: 50%;}
.col-md-7 {width: 58.33%;}
.col-md-8 {width: 66.66%;}
.col-md-9 {width: 75%;}
.col-md-10 {width: 83.33%;}
.col-md-11 {width: 91.66%;}
.col-md-12 {width: 100%;}

}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  body {
    font-size: 24px;
  }
}
